class Main {
    public static void main(String[] args) {
        int[] nums = {5, 3, 4, 3, 5, 5, 3};
        System.out.println("Número não repetido: " + encontrarNumeroNaoRepetido(nums));
    }
    
    public static int encontrarNumeroNaoRepetido(int[] nums) {
        int ones = 0, twos = 0;
        for (int num : nums) {
            ones = (ones ^ num) & ~twos;
            twos = (twos ^ num) & ~ones;
        }
        return ones;
    }
}

